@font-face {
    font-family: 'Surt';
    src: url('Surt.woff2') format('woff2'),
        url('Surt.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'RoslindaleVariable';
    src: url('RoslindaleVariable.woff2') format('woff2'),
        url('RoslindaleVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

